.container_create_event_express {
  width: 100%;
  height: 60vh;
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  > div {
    height: 100%;
    h2 {
      text-align: center;
    }
  }
  .contact {
    width: 60%;
    display: flex;
    flex-direction: column;
    .formContainer {
      height: 85%;
    }
    .searchContact {
      height: 85%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      // border: 1px solid black;
      //   height: 100%;
    }

    .buttonsContact {
      flex: 1;
      //   border: 1px solid black;
    }
  }
  .eventExpress {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px 10px;
    .formContainer {
      height: 85%;
    }
    .buttonsContact {
      flex: 1;
      //   border: 1px solid black;
    }
  }
}

.iconEventExpressWaiting,
.iconEventExpressEnable,
.iconEventExpressDeny {
  font-size: 15pt;
}

.iconEventExpressWaiting {
  svg {
    fill: $mainOrange;
  }
}

.iconEventExpressEnable {
  svg {
    fill: #00b616;
  }
}
.iconEventExpressDeny {
  svg {
    fill: red;
  }
}
