@import './variables';
.mainContainerApp-dark,
.modalCrud-dark {
  h3,
  h2,
  p,
  span {
    color: $colorDarkText;
  }

  // Transfer

  .ant-transfer-list {
    border: 1px solid $antBlue;
  }
  .ant-transfer-list-header {
    background: $mainDarkBackColor;
    border-bottom: 1px solid $lightBlue;
  }

  .ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
    background-color: $lightBlue;
    * {
      color: #000 !important;
    }
  }
  .ant-menu.ant-menu-dark .ant-menu-item-selected,
  .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: $antBlue;
  }

  // .ant-btn:hover,
  // .ant-btn:focus {
  //   color: $lightBlue;
  //   border-color: $lightBlue;
  //   background: transparent;
  // }

  .site-page-header {
    // border: 1px solid rgb(235, 237, 240);
    border: none;
    -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.81);
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.81);
    background: $mainDarkColor;

    span {
      color: $colorDarkText;
      fill: $colorDarkText;
    }
    .ant-tag {
      color: $mainDarkColor;
    }
  }

  //upload
  .ant-upload {
    background-color: $mainDarkBackColor;
    width: 100%;
    * {
      color: $mainColor;
    }
  }

  .ant-picker {
    border: 1px solid $mainDarkColor;
    background-color: $colorElementsDark;
    color: $colorDarkText;
    .ant-picker-suffix {
      color: $antBlue;
    }
    input {
      color: $colorDarkText;
    }
  }

  .ant-picker-focused {
    border-color: $colorElementsDark;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
  }
  .ant-picker:hover,
  .ant-picker-focused {
    border-color: $antBlue;
  }

  //Switch
  .ant-switch {
    background-color: $colorElementsDark;
  }
  .ant-switch-checked {
    background-color: $antBlue;
  }
  .ant-switch-checked:focus {
    box-shadow: none;
  }
  .ant-switch:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
  }

  //Select
  .ant-input-group-addon .ant-select.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    background-color: $colorElementsDark;
    border: 1px solid $antBlue;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    color: $colorDarkText;
    background-color: $colorElementsDark;
    border: 1px solid $borderDarkColor;
  }
  .ant-select-arrow {
    color: $colorDarkText;
  }
  .ant-select-focused .ant-select-selector {
    border-color: $antBlue !important;
    border-right-width: 0;
    box-shadow: none !important;
  }
  .ant-select-multiple .ant-select-selection-item {
    background-color: $mainDarkColor;
  }
  .ant-select-multiple .ant-select-selection-item-remove {
    color: $colorDarkText;
  }
  .ant-select-clear {
    color: $antBlue;
    background-color: transparent;
  }

  // Inputs
  .ant-input {
    border: 1px solid $mainDarkColor;
    background-color: $colorElementsDark;
    color: $colorDarkText;
  }
  .ant-input-affix-wrapper {
    border: 1px solid $mainDarkColor;
    background-color: $colorElementsDark;
  }

  .ant-input-password-icon {
    color: $colorDarkText;
  }

  .ant-input-search .ant-input:hover,
  .ant-input-search .ant-input:focus {
    border-color: $antBlue;
  }

  .ant-input-search .ant-input:hover + .ant-input-group-addon .ant-input-search-button:not(.ant-btn-primary),
  .ant-input-search .ant-input:focus + .ant-input-group-addon .ant-input-search-button:not(.ant-btn-primary) {
    border-left-color: $antBlue;
  }
  .ant-input-search {
    .ant-btn {
      background: $antBlue;
    }
  }

  .ant-input:focus,
  .ant-input-focused,
  .ant-input-affix-wrapper:focus,
  .ant-input-affix-wrapper-focused {
    border-color: $antBlue;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px $borderDarkColor;
  }
  .ant-form-item-has-error .ant-input,
  .ant-form-item-has-error .ant-input-affix-wrapper,
  .ant-form-item-has-error .ant-input:hover,
  .ant-form-item-has-error .ant-input-affix-wrapper:hover {
    background-color: $colorElementsDark;
    border-color: #ff4d4f;
  }

  .ant-form-item-label > label {
    color: $colorDarkText;
  }
  //input number
  .ant-input-number {
    border: 1px solid $mainDarkColor;
    background-color: $colorElementsDark;
    color: $colorDarkText;
  }

  .ant-form-item-has-error .ant-input-number:not([disabled]):hover,
  .ant-form-item-has-error .ant-picker:not([disabled]):hover {
    background-color: $colorElementsDark;
    color: $colorDarkText;
  }
  //Button
  .ant-btn-primary {
    color: $colorDarkText;
    background: $antBlue;
    border-color: $mainDarkColor;
  }

  .ant-btn {
    background-color: $mainDarkBackColor;
    border-color: $borderDarkColor;
    color: $colorDarkText;
  }
  .buttonsCrud {
    button {
      background-color: $mainDarkColor;
      -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.81);
      -moz-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.81);
      box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.81);
    }
  }

  //Layout
  .ant-layout-sider {
    background-color: $mainDarkColor;
    &::-webkit-scrollbar {
      width: 5px;
      background: $mainColor;
      border-radius: 2.5px;
    }

    // /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $antBlue;
      border-radius: 5px;
      transition: ease-in-out 0.3s;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgba($color: $antBlue, $alpha: 0.9);
    }
  }

  .ant-menu.ant-menu-dark,
  .ant-menu-dark .ant-menu-sub,
  .ant-menu.ant-menu-dark .ant-menu-sub {
    color: $colorDarkText;
    background: $mainDarkColor;
  }

  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected,
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected * {
    color: $mainColor;
    background: $antBlue;
    svg {
      fill: $mainColor;
    }
  }

  //checkbox

  //Table
  .ant-table {
    -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.81);
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.81);
    background: $mainDarkColor;
    color: $colorDarkText;

    .ant-table-body {
      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background: $mainDarkBackColor;
        border-radius: 2.5px;
      }

      // /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $antBlue;
        border-radius: 5px;
        transition: ease-in-out 0.3s;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: rgba($color: $antBlue, $alpha: 0.9);
      }
    }

    .ant-table-thead > tr > th {
      background-color: $mainDarkColor;
      color: $colorDarkText;
    }
    .ant-table-thead > tr > th {
      border-bottom: 2px solid $borderDarkColor;
    }
    .ant-table-tbody > tr {
      overflow: hidden;
    }
    .ant-table-tbody > tr > td {
      border-bottom: 1px solid $borderDarkColor;
    }
    .ant-table-tbody > tr.ant-table-row:hover > td {
      background: $colorElementsDark;
    }
    .ant-table-cell-fix-left,
    .ant-table-cell-fix-right {
      background: $mainDarkColor;
    }
    .ant-table-cell-scrollbar {
      box-shadow: none;
    }
  }

  //Pagination
  .ant-pagination-total-text {
    color: $colorDarkText;
  }
  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    background-color: $antBlue;
    border: none;
  }
  .ant-pagination-item {
    background-color: $colorElementsDark;
    border: none;
  }
  .ant-pagination-total-text .ant-pagination-prev button,
  .ant-pagination-next button {
    color: $colorDarkText;
  }
  .ant-pagination-prev:focus .ant-pagination-item-link,
  .ant-pagination-next:focus .ant-pagination-item-link,
  .ant-pagination-prev:hover .ant-pagination-item-link,
  .ant-pagination-next:hover .ant-pagination-item-link {
    color: #fff;
  }
  .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
  .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
    color: $colorDarkText;
  }
  .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
  .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
    color: #fff;
  }
  .ant-pagination-item a {
    color: $colorDarkText;
  }
  .ant-pagination-item-active {
    background: $colorElementsDark;
    border: 1px solid;
    border-color: $antBlue;
  }

  //dropdown
  .ant-select-dropdown {
    background-color: $mainDarkColor !important;
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      color: $colorDarkText;
      font-weight: 600;
      background-color: $colorElementsDark;
    }
    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
      background-color: $colorElementsDark;
      color: $colorDarkText;
    }
    .ant-select-item {
      color: $colorDarkText;
    }
  }

  //NoData
  .ant-table-tbody > tr.ant-table-placeholder:hover > td {
    background: $colorElementsDark;
  }
  .ant-empty-normal {
    color: $colorDarkText;
  }

  //Checkbox
  .ant-checkbox-wrapper {
    span {
      color: $colorDarkText;
    }
  }
}

.ant-message {
  .ant-message-notice-content {
    border-radius: 15px;
  }
  .-dark {
    .ant-message-notice-content {
      background: $mainDarkColor;
      > div {
        :nth-child(2) {
          color: $colorDarkText;
        }
      }
    }
  }
}

.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 15px;
}
.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 15px;
}
.ant-table-tbody > tr:last-child > td:first-child {
  border-bottom-left-radius: 15px;
}
.ant-table-tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 15px;
}
.ant-table {
  -webkit-box-shadow: 0px 5px 40px 0px rgba(112, 144, 176, 0.2);
  -moz-box-shadow: 0px 5px 40px 0px rgba(112, 144, 176, 0.2);
  box-shadow: 0px 5px 40px 0px rgba(112, 144, 176, 0.2);
  border-radius: 15px;
  .ant-table-body {
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background: $mainBackColor;
      border-radius: 2.5px;
    }

    // /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $antBlue;
      border-radius: 5px;
      transition: ease-in-out 0.3s;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgba($color: $antBlue, $alpha: 0.9);
    }
  }
}

//Dropdwon
.dropDown-dark {
  background-color: $mainDarkColor;
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: $colorDarkText;
    font-weight: 600;
    background-color: $colorElementsDark;
  }
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: $colorElementsDark;
    color: $colorDarkText;
  }
  .ant-select-item {
    color: $colorDarkText;
  }
  .ant-dropdown-menu-item * {
    color: $colorDarkText;
  }
  .ant-dropdown-menu-item-active * {
    color: $mainDarkColor;
  }
}

// .ant-switch-checked {
//   background-color: $mainOrange;
// }

//Modal
.ant-modal-content {
  .ant-modal-close {
    top: -5px;
    right: -15px;
  }

  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 40px 0px rgba(112, 144, 176, 0.2);
  -moz-box-shadow: 0px 5px 40px 0px rgba(112, 144, 176, 0.2);
  box-shadow: 0px 5px 40px 0px rgba(112, 144, 176, 0.2);

  .createModal {
    max-height: 60vh;
    overflow-y: auto;
  }
}

.ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
  margin-top: 20px;
  margin-left: 0px;
}
.ant-modal-confirm .ant-modal-confirm-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalCrud-dark {
  .ant-modal-content {
    background-color: $mainDarkColor;
    -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.81);
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.81);
    .ant-modal-confirm-body .ant-modal-confirm-title,
    .ant-modal-confirm-body .ant-modal-confirm-content {
      color: $colorDarkText;
    }
    h3 {
      color: $colorDarkText;
    }
    .checkboxForms {
      span {
        color: $colorDarkText;
      }
    }
  }
}

.ant-modal-mask,
.ant-image-preview-mask {
  background-color: rgba($color: $backGrounModal, $alpha: 0.5);
}

.buttonsCrud {
  margin: 20px 0 20px 0;
}

.formContainer {
  // position: relative;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  &::-webkit-scrollbar {
    width: 5px;
    background: $mainColor;
    border-radius: 2.5px;
  }

  // /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $antBlue;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba($color: $lightBlue, $alpha: 0.9);
  }
}

.ant-picker {
  width: 100%;
}

.site-page-header {
  width: 100%;
  border: 1px solid rgb(235, 237, 240);
  border-radius: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 5px 40px 0px rgba(112, 144, 176, 0.2);
  -moz-box-shadow: 0px 5px 40px 0px rgba(112, 144, 176, 0.2);
  box-shadow: 0px 5px 40px 0px rgba(112, 144, 176, 0.2);
}

.tableData {
  border-radius: 20px;
}

.fullWidth {
  padding: 10px;
  width: 100%;
}

.ant-layout-sider {
  &::-webkit-scrollbar {
    width: 5px;
    background: $mainColor;
    border-radius: 2.5px;
  }

  // /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $antBlue;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba($color: $antBlue, $alpha: 0.9);
  }
}

ยง .ant-upload-list-picture-card-container {
  width: 100%;
  max-width: 200px;
  justify-content: center;
}

.ant-upload-list-picture-card-container {
  min-height: 200px;
  max-width: 200px;
}

.ant-upload.ant-upload-select.ant-upload-select-picture-card {
  min-height: 200px;
  max-width: 200px;
}

.ant-upload-list.ant-upload-list-picture-card {
  display: flex;
  justify-content: center;
}
